<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer>
        <div>
            <img src="/image/logo-white.png" class="footer-logo">
        </div>
        <ul>
            <li>
                <a href="/index.html">ホーム</a>
            </li>
            <li>
                <a href="/news.html">ニュース</a>
            </li>
            <li>
                <a href="/clinic.html">クリニック</a>
            </li>
            <li>
                <a href="https://tengahealthcare.com/column/">コラム</a>
            </li>
            <li>
                <a href="https://tengahealthcare.co.jp/contact/">お問い合わせ</a>
            </li>
        </ul>
        <small>&copy; TENGA Healthcare Inc.all rights reserved</small>
    </footer>
</body>
</html>