<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="/index.html" class="header-logo-area">
            <img src="/image/logo-blue.png" class="header-logo">
        </a>
        <span class="nav_toggle">
            <i></i>
            <i></i>
            <i></i>
        </span>
        <nav>
            <ul>
                <li class="pc">
                    <a href="/index.html">
                        お悩みカテゴリ
                        <span class="header-nav-text">Category</span>
                    </a>
                    <div class="hover-content">
                        <ul>
                            <li>
                                <a href="/category/sourou.html">早漏</a>
                            </li>
                            <li>
                                <a href="/category/chirou.html">遅漏</a>
                            </li>
                            <li>
                                <a href="/category/katsuryoku.html">活力</a>
                            </li>
                            <li>
                                <a href="/category/seikoutsu.html">性交痛</a>
                            </li>
                            <li>
                                <a href="/category/ninkatsu.html">妊活</a>
                            </li>
                            <li>
                                <a href="/category/kotsubantei.html">骨盤底</a>
                            </li>
                            <li>
                                <a href="/category/chitsunaiflora.html">膣内フローラ</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="sp category">
                    <a href="#" id="categoryToggle">
                        お悩みカテゴリ
                        <span class="header-nav-text">Category</span>
                    </a>
                    <ul id="category-menu">
                        <li>
                            <a href="/category/sourou.html">早漏</a>
                        </li>
                        <li>
                            <a href="/category/chirou.html">遅漏</a>
                        </li>
                        <li>
                            <a href="/category/katsuryoku.html">活力</a>
                        </li>
                        <li>
                            <a href="/category/seikoutsu.html">性交痛</a>
                        </li>
                        <li>
                            <a href="/category/ninkatsu.html">妊活</a>
                        </li>
                        <li>
                            <a href="/category/kotsubantei.html">骨盤底</a>
                        </li>
                        <li>
                            <a href="/category/chitsunaiflora.html">膣内フローラ</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="https://tengahealthcare.com/column/">
                        コラム
                        <span class="header-nav-text">Column</span>
                    </a>
                    
                </li>
                <li>
                    <a href="/news.html">
                        ニュース
                        <span class="header-nav-text">News</span>
                    </a>
                    
                </li>
                <li>
                    <a href="/clinic.html">
                        クリニック
                        <span class="header-nav-text">Clinics</span>
                    </a>
                </li>
                <li>
                    <a href="https://tengahealthcare.co.jp/company/" target="_blank">
                        会社情報
                        <span class="header-nav-text">Company</span>
                    </a> 
                </li>
                <li class="sp icon">
                    <a href="https://shop.tengahealthcare.com/login">
                        <img src="/image/login-icon-w.png">
                    </a>
                    <a href="https://shop.tengahealthcare.com/cart">
                        <img src="/image/cart-icon-w.png">
                    </a>
                    <a href="/location/index.html">
                        <img src="/image/language-icon-w.png">
                    </a>
                </li>
                
            </ul>
        </nav>
        <div>
            <a href="https://shop.tengahealthcare.com/login">
                <img src="/image/login-icon.png">
                <div class="popup">
                    ログイン
                </div>
            </a>
            <a href="https://shop.tengahealthcare.com/cart">
                <img src="/image/cart-icon.png">
                <div class="popup">
                    カート
                </div>
            </a>
            <a href="./location/index.html">
                <img src="/image/language-icon.png">
                <div class="popup">
                    地域選択
                </div>
            </a>
        </div>
    </header>
</body>
</html>