
/* content-area */
.content-area{
    padding: 50px 0;
}
.content-area p{
    text-align: center;
    width: 50%;
    margin: 0 auto 84px;
}
.jump-area{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
}
.jump-area div {
    position: relative;
    width: 30%;
    margin-bottom: 30px;
}
.jump-area a{
    position: relative;
    text-decoration: none;
    border-radius: 15px;
    transition: all .3s;
    border: none;
    font-size: 42px;
    margin-bottom: 25px;
    font-family: normal normal medium;
    font-weight: bold;
    width: 349px;
}
.jump-area a img {
    display: block;
    width: 100%;
}
.jump-area a span {
    position: absolute;
    top: 90%;
    left: 15%;
    width: 100%;
    transform: translate(-10%, -90%);
    color: #fff;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s;
    opacity: 1;
    font-size: 30px;
}
@media screen and (max-width:959px) {
    .jump-area a span {
        top: 74%;
    }
}
@media screen and (max-width:599px) {
    .jump-area a span {
        top: 57%;
    }
}
@media screen and (max-width:479px) {
    .jump-area {
        width: 80%;
    }
    .jump-area div {
        width: 100%;
    }
    .jump-area div::before {
        top: 22px;
        left: 22px;
    }
    .jump-area a {
        width: 292px;
        height: 180px;
    }
    .jump-area a span {
        top: 70%;
    }
}