*{
    color: #3c3c3c;
}
.attention {
    text-align: center;
}
.map-area-sp {
    display: none;
}
.search-area-sp {
    display: none;
}
/* 都道府県プルダウン非表示 */
.map-area {
    background-image: url("../image/map.png");
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.reagion-choice div {
    border: 2px solid #96D9D1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px 25px 10px 20px;
    background-color: #fff;
    color: #96D9D1;
}
.reagion-choice div::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../image/map-pin.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.reagion-choice #hokkaido {
    position: absolute;
    top: 15%;
    left: 70%;
    background-color: rgba(255, 255, 255, 0.342);
    color: #96d9d175;
    border: 2px solid #96d9d175;
}
.reagion-choice #tohoku {
    position: absolute;
    top: 45%;
    left: 62%;
    background-color: rgba(255, 255, 255, 0.342);
    color: #96d9d175;
    border: 2px solid #96d9d175;
}
.reagion-choice #kanto {
    position: absolute;
    top: 69%;
    left: 57%;
}
.reagion-choice #chubu {
    position: absolute;
    top: 60%;
    left: 48%;
}
.reagion-choice #kinki {
    position: absolute;
    top: 75%;
    left: 40%;
}
.reagion-choice #shikoku {
    position: absolute;
    top: 77%;
    left: 29%;
}
.reagion-choice #kyushu {
    background-color: rgba(255, 255, 255, 0.342);
    color: #96d9d175;
    position: absolute;
    top: 90%;
    left: 19%;
}

.modal-container {
    visibility: hidden;
}
.modal-container.active{
    opacity: 1;
    visibility: visible;
  }
  /*モーダル本体の指定 + モーダル外側の背景の指定*/
.modal-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0,0,0,50%);
    padding: 40px 20px;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    box-sizing: border-box;
    z-index: 1;
  }
  /*モーダル本体の擬似要素の指定*/
  .modal-container:before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
  /*モーダル本体に「active」クラス付与した時のスタイル*/
  .modal-container.active{
    opacity: 1;
    visibility: visible;
  }
  /*モーダル枠の指定*/
  .modal-body{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    max-width: 500px;
    width: 90%;
  }
  /*モーダルを閉じるボタンの指定*/
  .modal-close{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    top: -20px;
    left: -12px;
    width: 40px;
    height: 40px;
    font-size: 40px;
    color: #65c6ba;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    background-color: #fff;
    border-radius: 100px;
    box-shadow: 2px 5px 5px #bebebe;
    
  }
  /*モーダル内のコンテンツの指定*/
  .modal-content{
    background: #fff;
    text-align: left;
    padding: 30px;
    border-radius: 10px;
  }
  .modal-content div {
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: relative;
  }
  .modal-content div span {
      flex: 27%;
  }
  .modal-content div select {
      width: 100%;
      flex: 70%;
      text-align: center;
      padding: 15px;
      border: 1px solid #ececec;
      -webkit-appearance: none;
  }
  .select::after {
      content: "";
      display: block;
      position: absolute;
      border: solid #6c6c6c;
      padding: 3px;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      left: 93%;
  }
  .modal-content div:first-child {
      margin-bottom: 20px;
  }
  .results-container {
      width: 85%;
      margin: 100px auto;
  }
  .btn-wrapper {
      margin-top: 35px;
  }
  .btn-wrapper button {
      width: 90%;
      padding: 12px;
      border-radius: 35px;
      border: none;
      background-color: #96D9D1;
      color: #fff;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .btn-wrapper button::after {
      content: "";
      display: block;
      position: absolute;
      top: 40%;
      left: 93%; 
      border: solid 1px #fff;
      border-width: 0 2px 2px 0;
      padding: 3px;
      transform: rotate(-45deg);
  }
  .card {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      background-color: #f7f7f7;
      padding: 15px 20px;
      border-radius: 20px;
      margin-bottom: 10px;
      text-decoration: none;
      list-style: none;
  }
  .card a {
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .card li:first-child {
      flex: 30%;
  }
  .card li:nth-child(2) {
      flex: 40%;
  }
  .card li div {
      text-align: center;
  }
  .card-icon {
      width: 3%;
      vertical-align:middle;
      margin-right: 10px;
      margin-bottom: 2px;
  }
  .card li button {
      background-color: #FFFFFF;
      border: solid 1px#65c6ba;
      border-radius: 25px;
      width: 77px;
      margin: 7px 2px;
      color: #65c6ba;
  }
  @media screen and (max-width: 968px) {
      .map-area {
          display: none;
      }
      .search-area-sp {
          display: block;
          width: 95%;
          margin: 30px auto;
          box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
          padding: 20px;
      }
      .search-area-sp input {
          width: 100%;
          border: 1px solid #ECECEC;
          padding: 5px;
          margin-bottom: 0px;
      }
      .search-area-sp input::placeholder {
          text-align: center;
          color: #898484;
      }
      .search-button {
          padding: 10px;
          width: 70%;
          margin: auto;
      }
      .map-area-sp {
          display: block;
          width: 95%;
          margin: auto;
          box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
          padding: 20px;
      }
      .map-area-sp h2 {
          color: #01bbb4;
          text-align: center;
      }
      .map-area-sp dt {
          width: 95%;
          margin: auto;
          padding: 10px;
          border-bottom: 1px solid #BEBEBE;
          font-weight: bold;
      }
      .map-area-sp li {
          width: 95%;
          margin: auto;
        background-color: #E5E5E5;
        border-bottom: 1px solid #BEBEBE;
        padding: 10px 20px;
        list-style: none;
        position: relative;
        font-size: 13px;
      }
      .ac-parent {
          position: relative;
      }
      .ac-parent::before {
        content: "";
        position: absolute;
        top: 50%;
        right: 13px;
        transition: translateY(-50%);
        width: 12px;
        height: 2px;
        background: #01bbb4;
      }
      .ac-parent::after {
          content: "";
          position: absolute;
          top: 41%;
          right: 18px;
          transition: translateY(-50%);
          transition: all .3s;
          width: 2px;
          height: 12px;
          background: #01bbb4;
      }
      .ac-parent.open:after {
        top: 25%;
        transform: rotate(90deg);
        opacity: 0;
    }
      .map-area-sp li::after {
          content: "";
          position: absolute;
          right: 15px;
          top: 50%;
          border: solid #606060;
          border-width: 0 1px 1px 0;
          padding: 3px;
          transform: rotate(-45deg) translateY(-50%);
      }
      .results-container {
          width: 95%;
      }
      .card {
          display: block;
      }
      .card a {
          justify-content: left;
      }
      .card-icon {
          width: 6%;
          margin-right: 15px;
      }
      .card li:nth-child(2) {
          margin: 0 0 15px 0;
      }
      .card > li > div {
          text-align: left;
      }
      #results  ul  li:nth-child(3) {
          position: relative;
      }
      #results  ul  li:nth-child(3)::after {
          content: '';
          position: absolute;
          top: 0;
          right: -9px;
          bottom: 0;
          width: 9px;
          height: 9px;
          margin: auto;
          border-top: 2px solid #65c6ba;
          border-right: 2px solid #65c6ba;
          transform: rotate(45deg);
          box-sizing: border-box;

      }
      /*モーダル本体の指定 + モーダル外側の背景の指定*/
.modal-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0,0,0,50%);
    padding: 40px 20px;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    box-sizing: border-box;
    z-index: 1;
  }
  /*モーダル本体の擬似要素の指定*/
  .modal-container:before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
  /*モーダル本体に「active」クラス付与した時のスタイル*/
  .modal-container.active{
    opacity: 1;
    visibility: visible;
  }
  /*モーダル枠の指定*/
  .modal-body{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    max-width: 500px;
    width: 90%;
  }
  /*モーダルを閉じるボタンの指定*/
  .modal-close{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    top: -20px;
    left: -12px;
    width: 40px;
    height: 40px;
    font-size: 40px;
    color: #65c6ba;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    background-color: #fff;
    border-radius: 100px;
    box-shadow: 2px 5px 5px #bebebe;
    
  }
      /*モーダル内のコンテンツの指定*/
  .modal-content{
    background: #fff;
    text-align: left;
    padding: 30px;
  }
  .genre h3 {
      color: #65c6ba;
      text-align: left;
  }
  .genre li {
      font-size: 12px;
      line-height: 30px;
   }
   .genre li a:hover {
       opacity: 0.7;
   }
  }